 # Node Package Manager
node_modules

# Bower
bower_components

# Sourcemaps
*.map

# mac created .idea files
.idea

# cache
.cache-loader
.cache

# log-files
*.log

# Asset dev file (this file appears on `sakke watch`)
.asset-dev
