/**
 * Login logo
 */

.login h1 a {
  //background: url(../images/logo.png) center center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  width: 300px;
  height: 60px;
}

/**
 * Gutenberg back end stuff
 */
@import "../styles/common/fonts";
@import "../styles/common/functions";
@import "../styles/common/variables";

// Import npm dependencies
@import "~bootstrap/scss/bootstrap";

.editor-styles-wrapper {
  @import "../styles/blocks/blockquote";
  @import "../styles/blocks/button";
  @import "../styles/blocks/colors";
  @import "../styles/blocks/columns";
  @import "../styles/blocks/cover";
  @import "../styles/blocks/embeds";
  @import "../styles/blocks/gallery";
  @import "../styles/blocks/image";
  @import "../styles/blocks/media_and_text";
  @import "../styles/blocks/paragraph";
  @import "../styles/blocks/separator";
  @import "../styles/blocks/table";
}

.editor-styles-wrapper .wp-block-media-text {

  display: grid;
  @include media-breakpoint-up(md) {
    grid-template-columns: 50% 50%;
  }

}
