@import "~sass-rem/rem";
@import "../styles/common/fonts";
@import "../styles/utils/functions";
@import "../styles/common/variables";
@import "../styles/mixins/mixins";

// In case backend need to be modified, adding these:
//@import "../utils/root";
//@import "../styles/utils/reboot";
//@import "../styles/utils/typography";

/**
 * Login logo
 */

.login h1 a {
  background: url(../images/logo.svg) center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 300px;
  height: 60px;
}

/**
 * Gutenberg back end stuff
 * None here any more...
 */

.editor-styles-wrapper {
  @import "../styles/common/boot-up";

  // Components
  @import "../styles/components/all";

  // Layouts & pages
  @import "../styles/layouts/all";

  // WP blocks / Gutenberg
  @import "../styles/blocks/wp-core/wp-core-blocks";
  @import "../styles/blocks/acf/acf-gb-blocks";
  @import "../styles/blocks/blocks";
}

// Disable links in ACF block when in preview mode
.acf-block-preview a {
  pointer-events: none !important;
}
