@mixin create-button($button-color: $primary) {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: color-yiq($button-color);
    background-color: $button-color;
    text-align: center;
    text-decoration: if($link-decoration == none, null, none);
    white-space: $btn-white-space;
    vertical-align: middle;
    user-select: none;
    padding: rem(10px 30px);
    font-size: rem(18px);
    border-radius: rem(20px);
    line-height: 1.5;
    @include transition($btn-transition);

    @include hover() {
        color: color-yiq($button-color);
        text-decoration: none;
        background-color: darken($primary, 7%);
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }

    &:not(:disabled):not(.disabled) {
        cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

        &:active,
        &.active {
            @include box-shadow($btn-active-box-shadow);

            &:focus {
                @include box-shadow(
                    $btn-focus-box-shadow,
                    $btn-active-box-shadow
                );
            }
        }
    }
}
