.gutenberg {
  padding-right: 15px;
  padding-left: 15px;

  > * {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      max-width: map_get($container-max-widths, 'md') - 100px !important;
    }

    @include media-breakpoint-up(lg) {
      max-width: map_get($container-max-widths, 'lg') - 100px !important;
    }

    @include media-breakpoint-up(xl) {
      max-width: map_get($container-max-widths, 'xl') - 150px !important;
    }
  }

  > .alignwide {
    @include media-breakpoint-up(md) {
      max-width: map_get($container-max-widths, 'md') + 100px !important;
    }

    @include media-breakpoint-up(lg) {
      max-width: map_get($container-max-widths, 'lg') + 100px !important;
    }

    @include media-breakpoint-up(xl) {
      max-width: map_get($container-max-widths, 'xl') + 150px !important;
    }
  }

  > figure.alignfull, > figure.alignwide {
    img {
      min-width: 100%;
    }
  }

  > .alignfull {
    max-width: none !important;
  }
}