.b-page-lifts-row {
  @include make-row();
}

.b-page-lift {
  @include make-col-ready();
  text-align: center;
  margin-bottom: rem(15px);

  @include media-breakpoint-up(md) {
	@include make-col(6);
  }

  @include media-breakpoint-up(lg) {
	@include make-col(4);
  }
}

.b-page-lift__figure {
  position: relative;
}

.b-page-lift__figcaption {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  padding: rem(10px 15px);
  background-color: $secondary;
  color: color-yiq($secondary);
  width: 100%;
  font-family: $font-family--heading;
  font-weight: 400;
  font-size: rem(18px);
  @include transition(background-color 0.2s ease);
}

.b-page-lift__link {
  &:hover, &:focus, &:active {
	.b-page-lift__figcaption {
	  background-color: lighten($secondary, 7.5%);
	}
  }
}
