@each $name, $color in $page-theme-colors {

  .has-text-color {
    &.has-#{$name}-color {
      color: $color;

      a {
        color: $color;

        &:hover, &:focus, &:active {
          color: $color;
        }
      }
    }
  }

  .has-background, .wp-block-cover {
    &.has-#{$name}-background-color {
      background-color: $color;
    }
  }
}