/**
 * Cover block styling
 */

.gutenberg {
  .wp-block-cover {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.wp-block-cover {
  position: relative;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  //width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.has-parallax {
    background-attachment: fixed;
  }

  &.has-background-dim {

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: inherit;
      opacity: .5;
      z-index: 1;
    }

    @each $name, $value in $opacitys {

      &.has-background-dim-#{$name} {
        &:before {
          opacity: $value;
        }
      }
    }
  }

  .wp-block-cover-text, .wp-block-cover__inner-container {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFF;
    z-index: 1;
    padding: 1.5rem;
    max-width: map-get($container-max-widths, 'lg');
    margin-bottom: 0;

    @include media-breakpoint-up(xl) {
      font-size: 2.5rem;
    }
  }

  &.has-right-content {
    justify-content: flex-end;
    .wp-block-cover-text {
      margin-right: 0;
      text-align: right;
    }
  }

  &.has-left-content {
    justify-content: flex-start;
    .wp-block-cover-text {
      margin-left: 0;
      text-align: left;
    }
  }
}