/**
 * Cover block styling
 */

.gutenberg {
  .wp-block-cover {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.wp-block-cover {
  width: auto;

  .wp-block-cover__inner-container {
    padding: 0 15px;
    margin: 0 auto;

    @each $name, $width in $container-max-widths {
      @include media-breakpoint-up(#{$name}) {
        max-width: $width;
      }
    }
  }
}