/**
 * Gallery block
 */

.gutenberg {
  .wp-block-gallery {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.wp-block-gallery {
  figcaption {
    text-align: center;
    opacity: 0.5;
    margin: 0 auto 1rem auto;
  }
}