/**
 * Cover block styling
 */

.gutenberg {
  .wp-block-group {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.wp-block-group {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .wp-block-group__inner-container {
    padding: 1.5rem;
    max-width: map-get($container-max-widths, 'lg');
  }
}