/**
 * Cover block styling
 */

.gutenberg {
  .wp-block-group {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.wp-block-group {
  position: relative;

  .wp-block-group__inner-container {
    padding: 1.5rem;
    margin: 0 auto;
    max-width: map-get($container-max-widths, 'lg');
  }
}