/**
 * Image blocks
 */

.gutenberg {
  .wp-block-image {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.wp-block-image {
  figcaption {
    text-align: center;
    opacity: 0.8;
  }
}