/**
 * Table block
 */

.gutenberg {
  .wp-block-table {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.wp-block-table {
  th, td {
    padding: 0.5rem;
  }

  td {
    border: 1px solid $primary;
  }

  tfoot {
    opacity: 0.5;
  }

  &.is-style-stripes {

    > table {

      //Same as table-striped in bootstrap
      tbody tr:nth-of-type(#{$table-striped-order}) {
        background-color: $table-accent-bg;
      }

      border: none;

      td {
        border: none;
      }
    }

  }
}