/**
 * Table block
 */

.gutenberg {
  .wp-block-table {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.wp-block-table {
  th, td {
    padding: 0.5rem;
  }

  tfoot {
    opacity: 0.5;
  }
}