@mixin hero-heights() {
  min-height: 20rem;

  @include media-breakpoint-up(md) {
    min-height: 40rem;
  }
}

.gb-hero {
  margin-right: -15px;
  margin-left: -15px;
  @include hero-heights;
}

.gb-hero-content-wrapper {
  @include hero-heights;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.gb-hero__inner-container {
    padding: 0 15px;
    margin: 0 auto;

    @each $name, $width in $container-max-widths {
      @include media-breakpoint-up(#{$name}) {
        max-width: $width;
      }
    }
}

.gb-hero__title {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-family: $font-family--heading;
  @include make-heading(2rem, 0, 1rem);
}

.gb-hero__description {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-family: $font-family--body;
  @include make-heading(1rem, 0, 1rem);
}
