.gb-latest-posts {
  padding: rem(32px 0);

  &.alignfull {
	margin-left: rem(-15px);
	margin-right: rem(-15px);
  }

  &__container {
	@include luuptek-create-container($align-wide-container-width, 15px);
  }

  &__row {
	@include make-row();
  }

  &__title {
	@include make-heading(21px, 0, 32px);
  }
}
