.gb-latest-posts {
  padding: rem(32px 0);

  &__container {
	@include luuptek-create-container($align-wide-container-width, 0);
  }

  &__row {
	@include make-row();

	@include media-breakpoint-up(md) {
	  grid-template-columns: repeat(2, 1fr);
	}

	@include media-breakpoint-up(lg) {
	  grid-template-columns: repeat(3, 1fr);
	}
  }

  &__title {
	@include make-heading(21px, 0, 32px);
  }
}
