.main-nav {
  background-color: $secondary;
  padding: rem(15px 0);

  .nav-logo {
    height: 30px;

    @include media-breakpoint-up(lg) {
      height: 40px;
    }
  }

  .navbar-brand {
    line-height: 1;
  }

  @include media-breakpoint-up(xl) {
    .hamburger {
      display: none;
    }
  }
}

.navbar-expand-xl {
  .navbar-nav {

	.menu-item {
	  position: relative;

	  &.open {
		.dropdown-menu {
		  display: block;
		}
	  }
	}

	.nav-item {
	  .dropdown-menu {
		top: 95%;
	  }

	  @include media-breakpoint-up(xl) {
		@include hover-focus{
		  .dropdown-menu {
			display: block;
		  }
		}
	  }
	}
	.nav-link {
	  color: #FFF;
	  padding: rem(16px 8px);
	  @include transition(all 0.2 easein);

	  @include media-breakpoint-up(xl) {
		padding: rem(16px 24px);
	  }

	  &:hover {
		background-color: lighten($secondary, 7.5%);
		color: #FFF;
	  }
	}
  }
}

.mobile-sub-menu-toggler {
  position: absolute;
  z-index: 10;
  font-size: rem(24px);
  top: rem(10px);
  right: rem(10px);

  @include media-breakpoint-up(xl) {
	display: none;
  }
}
