.pagination__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination--item {
    display: inline-block;

    &.current {
        > a {
            background-color: #fff;
            color: #000;
            &:hover,
            &:focus,
            &:active {
                background-color: #fff;
                color: #000;
                text-decoration: none;
            }
        }
    }

    > a {
        color: #fff;
        padding: rem(8px 16px);
        background-color: $primary;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($primary, 10%);
            color: #fff;
            text-decoration: none;
        }

        &.current {
            background-color: #fff;
            color: #000;
            &:hover,
            &:focus,
            &:active {
                background-color: #fff;
                color: #000;
                text-decoration: none;
            }
        }
    }
}

.pagination {
    a {
        &.page-numbers {
            padding: rem(8px 16px);
            background-color: $primary;
            color: #fff;
            text-decoration: none;
            font-size: rem(16px);

            &:hover,
            &:focus,
            &:active {
                background-color: lighten($primary, 15%);
            }

            &.current {
                color: #000;
                background-color: transparent;
            }
        }
    }

    .page-numbers {
        padding: rem(8px 16px);
    }
}
