.pagination {
    margin-top: rem(30px);

    a {
        &.page-numbers {
            padding: rem(8px 16px);
            background-color: $primary;
            color: #fff;
            text-decoration: none;
            font-size: rem(16px);

            &:hover,
            &:focus,
            &:active {
                background-color: lighten($primary, 15%);
            }

            &.current {
                color: #000;
                background-color: transparent;
            }
        }
    }

    .page-numbers {
        padding: rem(8px 16px);
    }
}
