.pagination__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination--item {
  display: inline-block;

  &.current {
    > a {
      background-color: #FFF;
      color: #000;
      &:hover, &:focus, &:active {
        background-color: #FFF;
        color: #000;
        text-decoration: none;
      }
    }
  }

  > a {
    color: #FFF;
    padding: 0.5rem 1rem;
    background-color: $primary;
    text-decoration: none;

    &:hover, &:focus, &:active {
      background-color: darken($primary, 10%);
      color: #FFF;
      text-decoration: none;
    }

    &.current {
      background-color: #FFF;
      color: #000;
      &:hover, &:focus, &:active {
        background-color: #FFF;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.pagination {
  a {
    &.page-numbers {
      padding: 0.5rem 1rem;
      background-color: $primary;
      color: #FFF;
      text-decoration: none;
      font-size: 1rem;

      &:hover, &:focus, &:active {
        background-color: lighten($primary, 15%);
      }

      &.current {
        color: #000;
        background-color: transparent;
      }

    }
  }

  .page-numbers {
    padding: 0.5rem 1rem;
  }
}
