.primary-menu-lvl-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up($main-menu-breakpoint) {
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
    }
}

.primary-menu-lvl-1__item,
.primary-menu-lvl-2__item {
    position: relative;
    width: 100%;
}

.primary-menu-lvl-1__item {
    &:last-child {
        @include media-breakpoint-up($main-menu-breakpoint) {
            .primary-menu-lvl-2 {
                right: 0;
                left: initial;
            }
        }
    }
}

.primary-menu-lvl-1__item {
    @include media-breakpoint-up($main-menu-breakpoint) {
        width: auto;

        @include hover-focus {
            .primary-menu-lvl-2 {
                display: block;
            }
        }
    }
}

.primary-menu-lvl-2__item {
    @include media-breakpoint-up($main-menu-breakpoint) {
        width: auto;

        @include hover-focus {
            .primary-menu-lvl-3 {
                display: block;
            }
        }
    }
}

.sub-menu-opened {
    > .primary-menu-lvl-2,
    > .primary-menu-lvl-3 {
        display: block;
    }

    > .sub-menu-toggle {
        svg {
            transform: rotate(180deg);
        }
    }
}

.primary-menu-lvl-1__link {
    display: block;
    position: relative;
    color: color-yiq($main-nav-bg-color);
    font-size: rem(18px);
    padding: rem(16px 0);
    @include transition(all 0.2s ease);

    @include media-breakpoint-up(xl) {
        padding: rem(16px 24px);
    }

    &:hover {
        background-color: lighten($main-nav-bg-color, 7.5%);
        color: color-yiq(lighten($main-nav-bg-color, 7.5%));
        text-decoration: none;
    }
}

.primary-menu-lvl-2__link,
.primary-menu-lvl-3__link {
    display: block;
    padding: rem(5px 15px);
    color: $main-nav-dropdown-theme-color;

    &:hover,
    &:hover {
        color: color-yiq($main-nav-dropdown-theme-color);
        background-color: $main-nav-dropdown-theme-color;
        text-decoration: none;
    }
}

.primary-menu-lvl-2 {
    display: none;
    position: static;
    padding: rem(15px 0);
    background-color: #fff;
    list-style-type: none;
    margin: 0;

    @include media-breakpoint-up($main-menu-breakpoint) {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: rem(250px);
        z-index: 10;
        max-width: rem(400px);
        filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
    }
}

.primary-menu-lvl-3 {
    display: none;
    position: static;
    padding: rem(15px 0);
    background-color: #fff;
    list-style-type: none;
    margin: 0;

    @include media-breakpoint-up($main-menu-breakpoint) {
        position: absolute;
        top: 0;
        left: -100%;
        min-width: rem(250px);
        z-index: 10;
        max-width: rem(400px);
        filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
    }
}

.sub-menu-toggle {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: rem(5px 10px);
    z-index: 10;
    color: color-yiq($main-nav-bg-color);
    font-size: rem(30px);
    top: 0;
    right: 0;
    @include transition(all 0.2s ease);

    @include media-breakpoint-up($main-menu-breakpoint) {
        pointer-events: none;
        opacity: 0;
    }

    &:focus {
        @include media-breakpoint-up($main-menu-breakpoint) {
            opacity: 1;
        }
    }

    svg {
        @include transition(all 0.2s ease);

        path {
            fill: color-yiq($main-nav-bg-color);
        }
    }

    &.primary-menu-lvl-2__sub-menu-toggle {
        z-index:11;
        font-size: rem(16px);

        svg {
            path {
                fill: color-yiq(#fff);;
            }
        }
    }
}