.skip-to-content {
  background: #000;
  color: #FFF;
  left: 50%;
  padding: rem(10px);
  position: absolute;
  transform: translateY(-300%);
  transition: transform 0.3s;

  &:focus {
	transform: translateY(0%);
	text-decoration: none;
  }
}
