// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}

@mixin placeholder($color: $gray) {
  ::-webkit-input-placeholder {
    color: $color;
    font-weight: 300;
  }
  ::-moz-placeholder {
    color: $color;
    font-weight: 300;
  }
  :-ms-input-placeholder {
    color: $color;
    font-weight: 300;
  }
}

@mixin image-replace() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}
