// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Gutenberg stuff
$opacitys: (
    "10": 0.1,
    "20": 0.2,
    "30": 0.3,
    "40": 0.4,
    "50": 0.5,
    "60": 0.6,
    "70": 0.7,
    "80": 0.8,
    "90": 0.9,
    "100": 1,
);

//Brand colors
$luuptek-green: #5b9279 !default;
$luuptek-dark: #2e3532 !default;

//fonts
$font-family--body: "Open sans", "sans-serif";
$font-family--heading: "Raleway", "sans-serif";

//Typography related
$h1-base-font-size: 32px;
$h2-base-font-size: 26px;
$h3-base-font-size: 23px;
$h4-base-font-size: 19px;
$h5-base-font-size: 17px;
$h6-base-font-size: 16px;

$heading-md-multiplier: 1.1;
$heading-lg-multiplier: 1.3;
$heading-xl-multiplier: 1.6;

//Main menu breakpoint
$main-menu-breakpoint: "xl";

// Container width
$main-nav-container-width: 1300px;
$align-wide-container-width: 1140px; // bootstrap container + Gutenberg align wide
$align-normal-container-width: 840px; // Gutenberg basic wide

//
// Color system
//

$white: #fff !default;
$black: #000 !default;

$primary: $luuptek-green !default;
$secondary: $luuptek-dark !default;

$main-nav-bg-color: $secondary;
$footer-bg-color: $primary;
$main-nav-dropdown-theme-color: $primary;

// Gutenberg color options
// -- see editor-color-palette in functions.php
$page-theme-colors: (
    "theme-primary": $primary,
    "theme-secondary": $secondary,
    "solid-black": #000,
    "solid-white": #fff,
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: #333 !default;

// YIQ color
$yiq-text-dark: #000;
$yiq-text-light: #fff;
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Links
//
// Style anchor elements.

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 16px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
) !default;

//@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
//@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1360px
) !default;

//@include _assert-ascending($container-max-widths, "$container-max-widths");

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family--body !default;


$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$headings-margin-bottom: 20px !default;
$headings-font-family: $font-family--heading !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.2 !default;

// Buttons
$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;

// Tables
$table-accent-bg: rgba($black, 0.05) !default;
