.gutenberg {
    padding-right: 15px;
    padding-left: 15px;

    > * {
        margin-right: auto;
        margin-left: auto;
        max-width: rem($align-normal-container-width);
    }

    > .alignwide {
        max-width: rem($align-wide-container-width) !important;
    }

    > figure.alignfull,
    > figure.alignwide {
        img {
            min-width: 100%;
        }
    }

    > .alignfull {
        max-width: none !important;
    }
}
