.wp-block-quote {
    &.is-style-default,
    &.is-style-large {
        border-left: rem(25px) solid $primary;
        margin: rem(25px) auto;
        padding-left: rem(25px);
    }

    &.is-style-large {
        > p {
            font-size: rem($h1-base-font-size);
        }
    }

    &.is-style-large {
        > cite {
            font-size: rem(16px);
        }
    }

    > p {
        font-size: rem(20px);
    }

    > cite {
        font-size: rem(14px);
        opacity: 0.8;
    }
}

.wp-block-pullquote {
    border-top: rem(8px) solid $primary;
    border-bottom: rem(8px) solid $primary;
}
