/**
 * Gallery block
 */

.gutenberg {
    .wp-block-gallery {
        &.alignfull {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

.wp-block-gallery {
    figcaption {
        text-align: center;
    }
}
