/**
 * Media & text block
 */

.gutenberg {
  .wp-block-media-text {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

/**
 * WP overrides
 */

.wp-block-media-text {

  .wp-block-media-text__content {
	padding: rem(20px 15px);

	@include media-breakpoint-up(md) {
	  padding: rem(20px 30px);
	}
  }
}
