/**
 * Media & text block
 */

.gutenberg {
  .wp-block-media-text {
    &.alignfull {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

/**
 * WP overrides
 */

.wp-block-media-text {
  &.has-media-on-the-right {
	.wp-block-media-text__content {
	  padding: 0 8% 0 0;
	}
  }
}
