footer {
  background-color: $primary;
  color: #FFF;
  padding: rem(40px 0 30px 0);

  a {
    color: #FFF;

    &:hover, &:focus, &:active {
      color: #FFF;
    }
  }
}

.footer-column {
  @include make-col-ready();

  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
}

.footer-copyrights {
  padding: rem(8px 16px);
  font-size: rem(15px);
  background-color: darken($primary, 7.5%);
  color: #FFF;
  text-align: center;

  .footer-copyright-img {
    width: 1.2rem;
    height: 1.2rem;
    display: inline;

    .fillpath {
      fill: #FFFFFF;
    }
  }

  a {
    color: #FFF;

    &:hover {
      color: #FFF;
    }
  }
}
