@mixin sectionPaddings() {
  padding-top: rem(32px);
  padding-bottom: rem(32px);

  @include media-breakpoint-up(md) {
	padding-top: rem(40px);
	padding-bottom: rem(40px);
  }

  @include media-breakpoint-up(xl) {
	padding-top: rem(60px);
	padding-bottom: rem(60px);
  }
}

section {
  @include sectionPaddings;

  &.section--bg-primary {
	background-color: $primary;
  }

  &.section--bg-secondary {
	background-color: $secondary;
  }
}

.page-container {
  @include sectionPaddings;
}
