@mixin sectionPaddings() {
  padding: rem(32px 0);

  @include media-breakpoint-up(md) {
	padding: rem(40px 0);
  }

  @include media-breakpoint-up(xl) {
	padding: rem(60px 0);
  }
}

section {
  @include sectionPaddings;

  &.section--bg-primary {
	background-color: $primary;
  }

  &.section--bg-secondary {
	background-color: $secondary;
  }
}

.page-container {
  @include sectionPaddings;
}
